<mat-card class="auth-card">
  <mat-card-header>
    <mat-card-title>
      <h1 class="brand-logo">MERRA</h1>
      <p class="sub-brand-logo">SIGN IN</p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (errorMessage) {
      <div class="error-message">
        <mat-icon fontSet="material-icons-outlined" class="error-icon">error_outline</mat-icon>
        {{ errorMessage }}
      </div>
    }
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email" />
        <mat-icon matPrefix fontSet="material-icons-outlined">mail</mat-icon>
        @if (signinForm.get('email')?.hasError('required') && signinForm.get('email')?.touched) {
          <mat-error>Email is required</mat-error>
        }
        @if (signinForm.get('email')?.hasError('email') && signinForm.get('email')?.touched) {
          <mat-error>Please enter a valid email</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <mat-icon matPrefix fontSet="material-icons-outlined">lock</mat-icon>
        @if (
          signinForm.get('password')?.hasError('required') && signinForm.get('password')?.touched
        ) {
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>

      <div class="button-container">
        <button matButton="filled" type="submit" [disabled]="!signinForm.valid">Sign In</button>
        <a matButton href="#">Don't have an account?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
