<aside class="side-nav" aria-label="Main navigation">
	<div class="side-nav-title">Workspace</div>
	<mat-nav-list>
		<a mat-list-item href="#" (click)="$event.preventDefault()">
			<mat-icon matListItemIcon fontSet="material-icons-outlined">dashboard</mat-icon>
			<span matListItemTitle>Dashboard</span>
		</a>
		<a mat-list-item href="#" (click)="$event.preventDefault()">
			<mat-icon matListItemIcon fontSet="material-icons-outlined">business</mat-icon>
			<span matListItemTitle>Organization</span>
		</a>
		<a mat-list-item href="#" (click)="$event.preventDefault()">
			<mat-icon matListItemIcon fontSet="material-icons-outlined">account_balance</mat-icon>
			<span matListItemTitle>Accounts</span>
		</a>
		<a mat-list-item href="#" (click)="$event.preventDefault()">
			<mat-icon matListItemIcon fontSet="material-icons-outlined">bar_chart</mat-icon>
			<span matListItemTitle>Reports</span>
		</a>
		<a mat-list-item href="#" (click)="$event.preventDefault()">
			<mat-icon matListItemIcon fontSet="material-icons-outlined">settings</mat-icon>
			<span matListItemTitle>Settings</span>
		</a>
	</mat-nav-list>
</aside>
