<aside class="side-nav" [class.side-nav-closed]="!isOpen" [class.side-nav-mobile]="isMobile" aria-label="Main navigation">
	<button
		pButton
		[text]="true"
		[rounded]="true"
		class="sidenav-toggle"
		type="button"
		[attr.aria-expanded]="isOpen"
		[attr.aria-label]="isOpen ? 'Close navigation' : 'Open navigation'"
		(click)="toggleSidenav()">
		<i class="pi" [ngClass]="isOpen ? 'pi-chevron-left' : 'pi-chevron-right'"></i>
	</button>

	@if (isOpen) {
		<h2 class="nav-title">Navigation</h2>
	}

	<nav>
		<div class="nav-list">
			@for (item of navItems; track item.label; let i = $index) {
				<a [routerLink]="item.route" class="nav-item" [class.active-item]="i === 0" [pTooltip]="!isOpen ? item.label : ''" tooltipPosition="right">
					<span class="nav-icon-wrapper" [style.background-color]="item.iconBg" [style.color]="item.iconColor">
						<i [ngClass]="item.icon"></i>
					</span>
					@if (isOpen) {
						<span class="nav-item-label">{{ item.label }}</span>
					}
				</a>
			}
		</div>
	</nav>

	@if (isOpen) {
		<div class="side-nav-bottom-links" aria-label="Secondary links">
			<a [routerLink]="''" class="bottom-link">About</a>
			<a [routerLink]="''" class="bottom-link">Help</a>
		</div>
	}
</aside>
