
.profile-section {
	width: 100%;
	padding: 1.5rem 0;
}

.profile-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.1rem;
}

.profile-name {
	font: var(--mat-sys-display-medium);
  letter-spacing: var(--mat-sys-display-medium-tracking);
	color: var(--mat-sys-color-on-surface);
}

.profile-email {
	display: flex;
	align-items: center;
	color: var(--mat-sys-color-on-surface-variant, #666);
  font: var(--mat-sys-title-medium);
  letter-spacing: var(--mat-sys-title-medium-tracking);
	opacity: 0.85;
}

.email-icon {
	font-size: 1rem;
	display: flex;
	align-items: center;
	height: 1.2em;
	margin-right: 0.1em;
}
