:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background: white;
  padding: 40px;
  border-top: 4px solid var(--mat-sys-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
