<section class="contact-page">
  <div class="contact-table-container">
    <div class="contact-table-header">
      <h2 class="contact-title">All Contacts</h2>
    </div>

    <p-table
      [value]="contacts"
      [(selection)]="selectedContacts"
      dataKey="accountNumber"
      [size]="'small'"
      styleClass="p-datatable-sm contacts-table"
      responsiveLayout="scroll">
      <ng-template #header>
        <tr>
          <th style="width: 3.5rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Account No.</th>
          <th class="text-center" style="width: 7rem">Supplier</th>
          <th class="text-center" style="width: 7rem">Customer</th>
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr [pSelectableRow]="row">
          <td>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td class="font-medium">{{ row.name }}</td>
          <td>{{ row.accountNumber }}</td>
          <td class="text-center">
            <i class="contact-flag-icon pi" [ngClass]="row.isSupplier ? 'pi-check flag-true' : 'pi-times flag-false'"></i>
          </td>
          <td class="text-center">
            <i class="contact-flag-icon pi" [ngClass]="row.isCustomer ? 'pi-check flag-true' : 'pi-times flag-false'"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5" class="text-center">No contacts found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
