DB_URL=""
FRONTEND_URL=""
VERIFICATION_TOKEN=""
JWT_ACCESS_TOKEN_DURATION=""
JWT_LIMITED_ACCESS_TOKEN_DURATION=""
JWT_REFRESH_TOKEN_EXPIRATION=""
JWT_TOKEN_SECRET=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_DURATION=""
MAIL_USERNAME=""
MAIL_PASSWORD=""